/* .tableStyle{
    border : 1px solid black;
    border-collapse: collapse;
} */
.topContent{
    text-align: center;
}

.active,.links:hover{
    background-color: #0000ffab !important;
    color: white !important;
}

#active{
    background-color: #0000ffab !important;
    color: white !important;
}
.pagination{
    margin-top: 35px;
    display: flex;
    justify-content: center;
}

.tableflex{
    display: flex;
    justify-content: center;
}
